@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
    --color-white: #FFFFFF;
    --color-bg : #101111;
  }
}

/*@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');*/

/** {*/
/*  font-family: "Funnel Display";*/
/*  font-optical-sizing: auto;*/
/*  font-style: normal;*/
/*}*/